---
language: python
python: "2.7"
sudo: required
services:
  - docker
before_script:
  - ./CI/playbook_check_container_version.sh
script:
  - ./CI/container_build.sh
after_success:
  - ./CI/container_push.sh