ETCD_AUTHORITY={{ etcd_authority }}
RACK={{ rack_no }}
HOSTNAME={{ inventory_hostname }}
NODENAME={{ inventory_hostname }}
BGPD_MODE={{ bgpd_mode | upper }}
IP={{ ip | default(ansible_default_ipv4.address) }}
RR_BGP_PORT={{ rr_bgpport | default(179) }}
TOR_BGP_PORT={{ tor_bgpport | default(179) }}
NODE_BGP_PORT={{ bgpport | default(179) }}
PEERING_SOURCE={{ peering_source | default("MT") }}
DEBUG=1
