ETCD_AUTHORITY={{ etcd_authority }}
RACK={{ rack_no }}
HOSTNAME={{ inventory_hostname }}
NODENAME={{ inventory_hostname }}
BGPD_MODE={{ bgpd_mode | upper }}
IP={{ip | default(ansible_default_ipv4.address) }}
DEBUG=1