[Unit]
Description=Birg-{{ bgpd_mode | upper }} container
After=docker.service
Requires=docker.service


[Service]
TimeoutStartSec=5
TimeoutStopSec=5
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/docker run --env-file=/etc/bird-{{ bgpd_mode }}.env -v /etc/ssl/certs:/etc/ssl/certs:ro -v /etc/ssl/etcd:/etc/ssl/etcd:ro {%if bgpd_mode == 'node'%}--privileged{%endif%} --net=host --name %n {{ bgpd_container }}:{{ bgpd_container_tag }}
ExecStop=/usr/bin/docker stop  %n
ExecStopPost=/usr/bin/docker rm -f %n

[Install]
WantedBy=multi-user.target
